body{

}

.section{
  width: auto;
  margin: 0 25vw 1vw 25vw;
  background-color: #e6e6e6;
  border-radius: 1vw;
  padding: 1em;
  }

.section li{
  margin-top: 0.5vw;
}

#overskrift{
margin-top: 4vw;
text-align: center;
font-style: normal;
font-size: 3em;
font-weight: bold;
}
